@import '../vars';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.stress-mark {
  speak: never;
  font-family: $font-family-monospace;
  color: $code-color;
  user-select: none;
}

.text-cursive {
  font-family: $font-family-cursive !important;
}
