$font-family-base: 'Rubik', sans-serif;
$font-family-monospace: 'Source Code Pro', 'Consolas', monospace;
$font-family-cursive: 'Pacifico', cursive;

$russian-blue: #0039a6;
$russian-red: #d52b1e;
$russian-white: #fff;

$secondary: $russian-blue;
$code-color: $russian-red;
